<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post" novalidate
                class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" id="title" class="form-control" name="campground[title]"
                        value="<%= campground.title %> " required>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" id="location" class="form-control" name="campground[location]"
                        value="<%= campground.location%> " required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea type="text" id="description" class="form-control" name="campground[description]"
                        required><%= campground.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price per night:</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input id="price" type="text" class="form-control" aria-label="price-label" placeholder="0.00"
                            name="campground[price]" value="<%= campground.price %> " required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Add more images:</label>
                    <div class="custom-file">
                        <input type="file" class="form-control custom-file-input" id="image" name="image" multiple
                            onchange="previewImages(event)">
                        <label for="image" class="form-label custom-file-label"></label>
                    </div>
                    <div id="imageFiles"></div>
                </div>
                <div class="mb-3">
                    <p>Delete Images:</p>
                    <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                        <% campground.images.forEach((img, i)=> { %>
                            <div class="col">
                                <div class="card">
                                    <img src="<%= img.thumbnail %>" alt="" class="card.img">
                                    <div class="card-img-overlay text-end pt-1 pe-2">
                                        <label class="visually-hidden" for="image-<%= i %>">Delete Image</label>
                                        <input class="form-check-input" type="checkbox" name="deleteImages[]"
                                            value="<%= img.filename %>" id="image-<%= i %>">
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                    <div class="my-3">
                        <button type="submit" class="btn btn-info">Update Campground</button>
                    </div>
            </form>
            <p>
                <a href="/campgrounds/<%= campground._id %>">Back To Campground</a>
            </p>
        </div>
    </div>